<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pk.fishmarket">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_q31dlovWoK5xG3" />
        <activity
            android:name="com.pk.fishmarket.OrderDetailsActivity"
            android:theme="@style/WhiteStatusTheme"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.RegistrationActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.SuccessPageActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.EditAddressActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.AddAddressActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.CheckoutActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.CartActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pk.fishmarket.AddRatingActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme" />
        <activity
            android:name="com.pk.fishmarket.ProductDetailsActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme" />
        <activity
            android:name="com.pk.fishmarket.NearbyShopActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme" />
        <activity
            android:name="com.pk.fishmarket.dashboard.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/WhiteStatusTheme" />
        <activity
            android:name="com.pk.fishmarket.OtpVerifyActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme" />
        <activity
            android:name="com.pk.fishmarket.LoginActivity"
            android:exported="false"
            android:theme="@style/WhiteStatusTheme" />
        <activity
            android:name="com.pk.fishmarket.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>